
/*BODY*/
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffefaf;
}

/*HEADER*/
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.main-header__title {
    margin: -20px 10px 0 0;
    padding: 0px;
    text-transform: uppercase;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 8.125rem;
    color: #FFB254;
    text-shadow: 1px 1px #7d5e1a;    
}
.main-header__quote {
    margin-top: -75px;
    padding: 0px;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.93rem;
    color: #FFC13D;
    text-shadow: 0.5px 0.5px rgba(125, 94, 26, 0.3);
}

/*MAIN*/
/*NAVIGATION*/
.main-navigation {
    position: sticky;
    top: 0px;
    background-color: #fffce1;
}

.main-navigation__list-of-years {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-left: 0px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
}
@media all and (max-width: 690px) {
    .main-navigation__list-of-years  {
        flex-direction: column;
        align-items: center;
    }
}
.main-navigation__year {
    display: inline;
    margin: 0 0px;
}
.main-navigation__year_disabled {
    text-decoration: none;
    color: #FFB254;
    text-shadow: 1px 1px #7d5e1a;
}
.main-navigation__year_hover:hover {
    text-decoration: none;
    color: #FFB254;
    text-shadow: 1px 1px #7d5e1a;
    border: 0.5px outset #7d5e1a;
}
.main-navigation__year_active:active {
    text-decoration: none;
    color: #FFF03D;
    text-shadow: 1px 1px #7d5e1a;
}

/*AD*/
.ad__banner {
    text-align: center;
    font-size: 0.625rem;
    text-decoration: line-through;
}

/*LIST-OF-ALBUMS*/
.albums {
    text-align: center;
}
.albums__list {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5625rem;
    color: #FFB254;
    text-shadow: 1px 1px #7d5e1a;
    text-transform: uppercase;
}
.albums__chosen-year {
    margin-top: -27px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.9375rem;
    color: #FFB254;
    text-shadow: 1px 1px #7d5e1a;
}
/*USER-INPUT-FORM*/
.input-form__button {
    color: #7d5e1a;
}
.album-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.album-info { 
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #FFB254;
}
@media all and (max-width: 800px) {
    .album-info  {
        width: 50%;
    }
}
@media all and (max-width: 550px) {
    .album-gallery {
        flex-direction: column;
        align-items: center;
    }
}
.album-cover-name_strong-text {
    text-shadow: 1px 1px #7d5e1a;
}
.album-info__rating {
    margin: 10px auto 25px auto;
    width: 100px;
    border: 3px dotted #7d5e1a;
}
.album-info__aside-info {
    margin: -10px 0 10px 0;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7d5e1a;
}
.album-cover-name__picture {
    width: 15.625rem;
    background: #fffce1; 
    border-radius: 7px; 
    padding: 0.8%;
}

.random-table {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.row, .aaa{
    display: contents;
}
.row td {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
}
.row:first-child td, .row td:first-child {
    font-weight: bold;
}
.row:nth-child(2n+1) td {
    background: brown;
}
.row:nth-child(2n+2) td {
    background: red;
}

@media all and (max-width: 300px) {
    .row td:last-child {
        display: none;
    }
    .random-table {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*FOOTER*/
.footer {
    background-color: rgba(228, 205, 116, 0.3);
}
.footer__ASCII-guitar {
    padding: auto auto;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #FFB254;
    text-shadow: 1px 1px #ffffff;
}
@media all and (max-width: 700px) {
    .footer__ASCII-guitar  {
        display: none;
    }
}
.footer__info {
    text-transform: uppercase;
    text-align: center;
}